@model List<MVCProject1.Models.Film>
@{
    string title = Model[0].Series.ToString();
    ViewBag.Title = title;
}

<h2>Films in @title Series</h2>

@{
    foreach (var film in Model)
    {
        <li><h4>@Html.ActionLink(film.Series + " : " + film.Name, "Details", new { id = film.FilmId })</h4></li><hr />
    }
}

